<html>
<head>
    <meta charset="UTF-8">
    <title>BLOOD IS BLOOD</title>
</head>
<body bgcolor="lightyellow">
<center>
<h1 style="color:dodgerblue;">BLOOD BANK</h1>
<p><i>"Donate your blood and make a difference."</p></i>
<h2 style="color:dodgerblue;"> Data of Patient</h2>
<form class ="form" action="goods" method="post">
    {% csrf_token %}
    
    <label id="names">First Name:</label><br>
    <input type="text" name="First" id="First" placeholder="Enter First Name">
    <br>
    <br>
    <label id="subjects">Last Name:</label> <br>
    <input type="text" name="Last" id="Last" placeholder="Enter Last Name">
    <br>
    <br>
    <label id=bodies>Contact Number:</label><br>
    <input type="text" name="Contact" id="Contact" placeholder="Enter Contact Number">
    <br>
    <br> 
    <label id="names">Email:</label><br>
    <input type="text" name="Email" id="Email" placeholder="Enter Email">
    <br>
    <br> 
    <label id="names">Age:</label><br>
    <input type="text" name="Age" id="Age" placeholder="Enter Age">
    <br>
    <br> 
   <!-- <label id="names">Donor Contact Number:</label><br>
    <input type="text" name="name" id="number" placeholder="Enter Contact Number">
    <br>
    <br> 
    <div id="gender"> -->
    <p>GENDER:</p>
    <h3 style="color:blue;">
    <input type ="radio" id="male" name="gender" value="MALE" required>MALE</h3>
    <h3 style="color:red;">
    <input type ="radio" id="female" name="gender" value="FEMALE" required>FEMALE<br><br></h3>
    </div>
    <!-- label id=dates>Date of Donation</label><br>
    <input type="date" name="date" id="date">
    <br>
    <br>  -->
    <input 
        type="submit" 
        id="inConfirm" 
        name="inConfirm" 
        style="color: red; background-color: lightgrey" 
        value="Confirm"
    >

</form> 

<table id="Table">
    {% for item in newPerson%}
    <tr>
        <td>{{ forloop.counter }}: {{ item.text }}</td>
    </tr>
    {% endfor %}
</table>
</center>
</body>
</html>
</html> 










<!-- <html>
<head>
    <meta charset="UTF-8">
    <title>ATTENDANCE</title>
</head>

<body bgcolor="lightyellow">
<h1 style="color: blue">ATTENDANCE OF TODAY</h1>

<style>
table, td ,th {
  border: 1px solid black;
}
</style>
<table style="width:100%">
  <tr>
  
    <th>Name: </th>
    <th>Subject:</th>
    <th>Section: </th>
    <th>Gender:</th>
    <th>Date:</th>
  
    </tr>
<div class="rus">
	{% for rus in rus %}
	<div class="rus">

    <tr>
    <td>{{ forloop.counter }}:{{ rus.name }}</td>
    <td>{{ rus.subject }}</td>
    <td>{{ rus.body}}</td>
    <td>{{ rus.gender }}</td>
    <td>{{ rus.date }}</td>

  </tr>


</div>
	{% endfor %}
	</table>
</body>
</html>


 -->