
<html>
<head>
    <meta charset="UTF-8">
    <title>ATTENDANCE</title>
</head>

<body bgcolor="lightyellow">
<h1 style="color: blue">ATTENDANCE OF TODAY</h1>

<style>
table, td ,th {
  border: 1px solid black;
}
</style>
<table style="width:100%">
  <tr>
  
    <th>Name: </th>
    <th>Subject:</th>
    <th>Section: </th>
    <th>Gender:</th>
    <th>Date:</th>
  
    </tr>
<div class="rus">
	{% for rus in rus %}
	<div class="rus">

    <tr>
    <td>{{ forloop.counter }}:{{ rus.name }}</td>
    <td>{{ rus.subject }}</td>
    <td>{{ rus.body}}</td>
    <td>{{ rus.gender }}</td>
    <td>{{ rus.date }}</td>

  </tr>


</div>
	{% endfor %}
	</table>
</body>
</html>


