<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATTENDANCE NATIN TO!</title>
</head>
<body bgcolor="lightyellow">
<center>
<h1 style="color:dodgerblue;">WELCOME TO ATTENDANCE FORM</h1>
<p><i>"Attend Today, Achive Tomorrow"</p></i>
<form class ="form" action="" method="post">
    {% csrf_token %}
    
    <label id="names">Name:</label><br>
    <input type="text" name="name" id="name" placeholder="Enter Name">
    <br>
    <br>
    <label id="subjects">Subject:</label> <br>
    <input type="text" name="subject" id="subject" placeholder="Enter Subject">
    <br>
    <br>
    <label id=bodies>Section:</label><br>
    <input type="text" name="body" id="body" placeholder="Enter body text">
    <br>
    <br>
    <div id="gender">
   <p>GENDER:</p>
   <h3 style="color:blue;"><input type ="radio" id="male" name="gender" value="MALE" required>MALE</h3>
   <h3 style="color:red;"><input type ="radio" id="female" name="gender" value="FEMALE" required>FEMALE<br><br></h3>
    <label id=dates>Date</label><br>
	</div>

    <input type="date" name="date" id="date">
    <br>
    <br>
    <input type="submit" value="Turn In" id="turnin">
</form>
</center>

</body>
</html>
</html>
